/** add by kwm begin */
.btn{
	display:inline-block;
	cursor:pointer;
	background-color:#0083f1;
	border: 1px solid #0083f1; 
	border-radius:3px;
	width:90px;
	height: 30px;
	line-height: 28px;
	margin-left: 10px;
	color:#fff;
}

.gray-btn{
	display:inline-block;
	cursor:pointer;
	background-color:#8d8d8d;
	border: 1px solid #8d8d8d; 
	border-radius:3px;
	width:90px;
	height: 30px;
	line-height: 28px;
	margin-left: 10px;
}
/** add by kwm end */

body {margin:0;font-size:12px;font-family:"Arial","MS Gothic";word-break:break-all;background:#fff;}
img{border:0;}
a:link,a:visited{color:#0083f1;text-decoration:none;}
a:hover{text-decoration:underline;}
.jpfont{font-family:"MS Gothic";}
.cnfont{font-family:Arial;}
h3{font-size:14px;margin:4px;padding:4px 0 0 0;}
h1{font-size:1.8em;text-align:center;margin:4px 0 0 0;}
h4{font-size:14px;margin:12px 0px 1px 0px;padding:4px;background:#8D9FD3;}
.foot{border-top:1px solid #ddd;margin:10px;padding:10px 5px;text-align:center;color:#999;}
.floatf{float:left;}
.floatr{float:right;}
.default{font-weight:normal;}
.cen{text-align:center;}
.cen h1{font-family:simsun;}
.btnBox {text-align:center;}
.btnBox input {margin:auto}
.box{padding:8px 4px;}
.cptext{font-size:14px;padding:30px 10px;}
.remark{color:#bbb;}
.alert{color:#f60;}
.required{padding-left:10px;background:url(../images/required_icon.gif) left 5px no-repeat;}
.required01{padding-left:10px;background:url(../images/required_icon01.gif) left 5px no-repeat;}
.floatleft{float:left;}
.floatright{float:right;}
.header {width:100%;height:87px;background:#003166;}
/* update by kwm on 2017.02.10
.section {padding-top:20px;color:#fff;width:960px;height:67px;margin:0 auto;background: url(../images/top_bg.gif) no-repeat;text-align:right;}
*/
.section {padding-top:20px;color:#fff;width:960px;height:67px;margin:0 auto;text-align:right;}
.title{padding:25px 0 0 10px;}
.title h1{margin:0;font-size:2.1em;font-family:arial;}
.section .menu_dh a{color:#fff;}
.topbottom {width:100%;height:11px;background: url(../images/top_bottom_bg.gif) repeat-x ;}
.page{margin:0 auto;background:#f0f0f0 url(../images/mainbg.gif) repeat-y ;width:950px;padding:10px;}
.singlePage{width:500px;margin:0 auto;}
.pageB{width:1300px;;margin:0 auto;padding:0 10px;}
.column5{width:19.9%;float:left;}
#menu_top{padding:0 0 4px 10px;margin-bottom:10px;height:30px;background:#D7E3F3 url('../images/subnav_left.gif') top left no-repeat;}
#menu_top ul{margin:0;padding-top:3px;float:left;width:100%;background: url('../images/subnav_right.gif') top right no-repeat;}
#menu_top li{display:block;margin:0;margin-left:-1px;padding-left:3px;float:left;position:relative;}
#menu_top li a{padding:8px 10px;display:block;font:bold 12px/100% arial;color:#fff;background:url('../images/menu_forum_text_right.gif') right no-repeat;}
#menu_top li.current {background:#D7E3F3;}
#menu_top li.current a{color:#30436E!important;background:#D7E3F3;}
#menu_top li a:link,#menu-f li a:hover,#menu-f li a:visited{color:#fff;margin-left:-1px;}
#menu_top li.subNavRight{float:right;}
#menu_top li.subNavRight a{background:none;}
.left{float:left;width:180px;background-color:#e5f0ff;}
.left h3{margin:0;padding:3px 3px 1px 10px;font:bold 12px/22px arial;color:#fff;}
.right{padding-left:10px;float:left;width:1100px;}
.right h1{font-size:1.8em;text-align:center;margin:4px 0 0 0;}
.right h2{font-size:13px;border-bottom:2px solid #ccc;margin:0px;padding:4px;}
.menu_left h3{border-bottom:1px solid #587EAB;background:#5E90C3 url(../images/menu_left_h3.gif) repeat-x;}
.menu_left ul,.menu_left li ul{margin:0;padding:0;}
.menu_left li{display:block;background:url(../images/menu_left_bg.gif) top repeat-x;border-top:1px solid #F4F7FC;border-bottom:1px solid #A2B7D6;}
.menu_left li a{display:block;line-height:22px;padding:0px 10px 0px 12px;}
.menu_left li a:link,.menu_left li a:visited{color:#000;}
.menu_left li a:hover{color:#0083f1;}
.menu_left li .current{background-color:#fff4e1;}
.menu_left li li{padding-left:5px;background:#F4F7FE;border-top:2px solid #e5f0ff;border-bottom-color:#F4F7FE;}
.menu_left li li a:link,.menu_left li li a:visited{background:url(../images/menu_sub_icon.gif) 7px 7px no-repeat;}
.mbx {height:20px;color:#646464;margin:15px 0 10px 0;}
.buttomBlue {height:20px;padding:5px;font-weight:blod;}
.buttomBlue a{padding:3px 15px;color:#fff;background:#0083f1;margin:5px;}
.buttomBlue a:visited{color:#fff;background:#0083f1;}
.buttomBlue a:hover{background:#0265b8;text-decoration: none;}

/*Add by Luoyun at 2008-5-16 11:23*/
a.buttomBlue{padding:3px 15px;color:#fff;background:#0083f1;margin:5px;}
a.buttomBlue:visited{color:#fff;background:#0083f1;}
a.buttomBlue:hover{background:#0265b8;text-decoration: none;}
/*End add by Luoyun at 2008-5-16 11:23*/

/*add by kwm begin*/
a.logoutlink{padding:1px 4px;color:#fff;background:#0265b8;margin:5px;}
a.logoutlink:visited{color:#fff;background:#0265b8;}
a.logoutlink:hover{background:#0265b8;text-decoration: none;}
/*add by kwm end*/

.formActionB{padding:10px;text-align:center;}
.formAction{background-color:#EFF4FA;text-align:center;padding:8px 0;margin-top:8px;}

.listA{padding-bottom:10px;}
.listA table{border:1px dashed #ddd;}
.listA table td,{background-color:#F8F8F8;border-bottom:1px solid #ddd; padding:5px;}
.listA table th{background-color:#E3ECF7;padding:5px;border-top:1px solid #fff;border-bottom:1px solid #ddd;text-align:right;font-weight:normal;}
.listbottom{background-color:#dcedff!important;color:#999;}

.listB{padding-bottom:2px;}
.listB table{border:2px solid #999;}
.listB table td,{background-color:#e9f0f8;border-bottom:1px solid #ddd;padding:5px;}
.listB table th{background-color:#b5d9ff;padding:5px;border:1px solid #ddd;text-align:left;font-weight:bold;}
.listB table th a{color:#333;padding-right:8px;background:url(../images/arrow_down.gif) no-repeat right 40%;}
.listB table table{border:1px solid #f0f0f0;}
.listB table td td{border-right:1px solid #fff; padding:5px;}

.formA{padding-bottom:10px;}
.formA table{border:2px solid #999;}
.formA table th{background-color:#B5D9FF;border-top:1px solid #D3E8FF;border-bottom:1px solid #9AC6F5;text-align:right;padding:5px;}
.formA table td{background-color:#F8FBFF;padding:5px;border-bottom:1px solid #ddd;}
.formA table table{border:1px solid #f0f0f0;}
.formA table td td{border-right:1px solid #fff; padding:5px;}

.formA table.inputBox {border-spacing:0;border-collapse:collapse;margin-top:7px;border:3px solid #446CA6;}
.formA table.inputBox th{background-color:#f2f2f2;width:60px;border:1px solid #ddd;text-align:right;padding:5px;}
.formA table.inputBox th.textA {background-color:#d0e6f9;}
.formA table.inputBox th.textB {background-color:#e2f9e5;}
.formA table.inputBox #oldText,.formA table.inputBox #newText {width:260px;}
.formA table.inputBox td.buttomBlue a {width:150px;height:24px;line-height:24px;text-align:center;font-size:14px;font-family:simsun;font-weight:bold;margin:7px auto;color:#fff;background:#395F98;display:block;}
.formA table.inputBox td.buttomBlue a:visited{color:#fff;background:#395F98;}
.formA table.inputBox td.buttomBlue a:hover{background:#0265b8;text-decoration:none;color:#f9df2e;}
.resultBox {border-spacing:0;border-collapse:collapse;margin-top:5px;border:1px solid #3D66A1;}
.resultBox th{background-color:#3D66A1;background-image:none;border:1px solid #345586;height:24px;line-height:24px;color:#fff;text-align:left;padding:5px;}
.resultBox th.widthA {width:80px;}
.resultBox th.widthB {width:300px;}
.resultBox td {height:20px;padding:5px;}
.resultBox td.textAbg {background-color:#dff0ff;}
.resultBox td.textBbg {background-color:#e2f9e5;}
.errorBox {background:#ffd6d6;border:2px solid #b61f1f;height:30px;line-height:30px;font-size:14px;font-weight:bold;color:#ed2121;text-align:center;font-family:simsun;}

.formB h3{border-bottom:1px solid #ddd;font-size:14px;padding:5px 0 0 0;margin:2px 0 4px 0;}
.formB table th{background-color:#e9f0f8;border-bottom:1px solid #ddd;text-align:right;vertical-align:top;padding:5px;border-top:1px solid #fff;font-weight:lighter;}
.formB table td{background-color:#fff;padding:2px;}

#form th {padding:6px;background-color:#f5f5f5;text-align:right;vertical-align:top;font-weight:lighter;border-bottom:1px solid #e1e1e1;border-top: 2px solid #fff;}
#form td td td {padding:0;}
#form td td {padding:0;}
#form td {padding:4px;}
.pageX {width:1002px;}
.board[text-align:left;]
.board.alertA{border:1px solid #FEDCB7;padding:10px 0 10px 60px;margin:10px 0;background:#FFF9F2 url(../images/alertA.gif) 15px 15px no-repeat;}
.board.alertB{border:1px solid #FEDCB7;padding:4px 4px 4px 30px;margin:2px 0;background:#FFF9F2 url(../images/alertB.gif) 10px 6px no-repeat;}
.board.alertC{padding:4px 4px 4px 30px;background:url(../images/alertB.gif) 10px 6px no-repeat;}
.board.errorA{border:1px solid #FAC5C7;padding:10px 0 10px 60px;margin:10px 0;background:#FEF0F0 url(../images/errorA.gif) 15px 15px no-repeat;}
.board.errorB{border:1px solid #FAC5C7;padding:4px 4px 4px 30px;margin:2px 0;background:#FEF0F0 url(../images/errorB.gif) 10px 6px no-repeat;}
.board.errorHB{border:1px solid #FAC5C7;padding:4px 4px 4px 30px;margin:2px 0;background:#FEF0F0;}
.board.successA{border:1px solid #CAE2A4;padding:10px 0 10px 60px;margin:10px 0;background:#F7FAF1 url(../images/successA.gif) 15px 15px no-repeat;}
.board.successB{border:1px solid #CAE2A4;padding:4px 4px 4px 30px;margin:2px 0;background:#F7FAF1 url(../images/successB.gif) 10px 6px no-repeat;}
.board.noticeA{border:1px solid #C4D3E5;padding:10px 0 10px 60px;margin:20px 0;background:#F6F9FD url(../images/noticeA.gif) 15px 15px no-repeat;}
.board.noticeB{border:1px solid #C4D3E5;padding:4px 4px 4px 30px;margin:2px 0;background:#F6F9FD url(../images/noticeB.gif) 10px 6px no-repeat;}
input.yellowbutton{padding:0px 5px 0 5px;font-weight:bold;font-size:12px;margin:0 10px;background:url(../images/largebutton_bg_yellow.gif);border-top:1px solid #F39D24;border-left:1px solid #F39D24;border-right:1px solid #CF6F18;border-bottom:1px solid #CF6F18;height:25px;color:#5E2708;}
input.greybutton{padding:0px 5px 0 5px;font-weight:bold;font-size:12px;margin:0 10px;background:url(../images/buttonSkinBL.gif);border-top:1px solid #C4C4C4;border-left:1px solid #C4C4C4;border-right:1px solid #848484;border-bottom:1px solid #848484;height:25px;}

.pagebar {background:#e5e5e5;padding:7px 10px;border-bottom:1px solid #d4d4d4;margin-bottom:2px;}
.pagebar1 {padding:3px}
.pagebarUp,.pagebarDown {background:#e5e5e5;padding:7px 10px;border-bottom:1px solid #d4d4d4;margin-bottom:2px;}
.pagebarDown {background:#f2f2f2;}
.pagebarUp .recordnum {color:#f60;}
.pagebarDown .pagenum {margin:0 10px 0 0;padding:0!important;}
.pagebarDown .current {color:#f60;font-weight:bold;}
.pagebarDown a.otherpage:link,a.otherpage:visited {color:#333;}
.pagebarDown a.otherpage:hover {color:#0083F1;}
#joinstatabar span.current{background:url(../images/join_current.gif) right 18px no-repeat; padding-bottom:12px; border-bottom:none;font-weight:bold;color:#f60;}
#joinstatabar span.current a:link,#joinstatabar span.current a:visited{color:#f60; text-decoration:none;}
#joinstatabar span{border-bottom:4px solid #ccc;padding:4px 5px;margin: 0 2px;color:#777;}
#joinstatabar span a{color:#999;text-decoration:none;}
.toolbg{background:#f3f3f3 url(../images/tool_bg.gif) bottom repeat-x; height:30px;line-height:30px; margin-top:1px; padding:5px 10px;}

/* jinchenjie */
.pagenum{text-align:right; padding:6px;}
#list td {padding:10px 4px;border-bottom:1px solid #e0e0e0;}
#list th {margin:0;padding:4px;background-color:#f5f5f5;border-bottom:1px solid #e0e0e0;border-right: 1px solid #e0e0e0;}
#list th a {padding-right:8px;background:url(../images/arrow_down.gif) no-repeat right 50%;}
#list th a:link {color:#000; text-decoration:none;}
#list th a:visited {color:#333; text-decoration:none;}
#list th a:hover {color:#f60; text-decoration:none;}
#list .select{ background-color:#fffae2;}

#ServerNum{text-align:center;font-size:12px;font-family:arial;color:#FFF;}

/*call center*/
.right .menu {}
.right .menu ul{height:35px;margin:8px 0;padding: 0;font-weight:bold;background-image: url(../images/img/callcenter_menu_bg.gif);}
.right .menu li{
	float:left;
	width:96px;
	list-style-type:none;
	margin:0 0 0 8px;
	line-height:35px;
	background-image:url(../images/img/callcenter_menubg.gif);
	background-repeat: no-repeat;
	background-position: right top;	
	text-align:center;
}
.right .menu .linone{background-image: none}
.right .menu .lileft{
	width:13px;	margin:0;
	height:35px;
	background-image: url(../images/img/callcenter_menu_left.gif);
	background-repeat: no-repeat;
	background-position: left top;}
.right .menu .liright{
	float:right;	margin:0;
	width:15px;
	height:35px;
	background-image: url(../images/img/callcenter_menu_right.gif);
	background-repeat: no-repeat;
	background-position: right top;}
.title_font {
	font-size: 12px;
	color: #E6EBF0;
	background-color: #003366;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	font-weight: bold;
}
.title_font2 {
	font-size: 12px;
	color: #ECEFEA;
	background-color: #3C6028;
	padding-top: 3px;
	padding-right: 10px;
	padding-bottom: 3px;
	padding-left: 5px;
	font-weight: bold;
}
.table1_tb1 {
	line-height: 28px;
	background-color: #E3ECF7;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
	padding-right: 8px;
}
.table_1 {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top-width: 1px;
	border-right-width: 1px;
	border-bottom-width: 1px;
	border-left-width: 1px;
	border-top-style: solid;
	border-right-style: dashed;
	border-bottom-style: dashed;
	border-left-style: dashed;
	border-top-color: #F0F0F0;
	border-right-color: #F0F0F0;
	border-bottom-color: #F0F0F0;
	border-left-color: #F0F0F0;
}
.table1_tb2 {
	line-height: 18px;
	background-color: #F7F8F9;
	border-top-width: 1px;
	border-bottom-width: 1px;
	border-top-style: solid;
	border-bottom-style: solid;
	border-top-color: #FFFFFF;
	border-bottom-color: #CCCCCC;
	padding-right: 8px;
	padding-left: 8px;
}
.table2 {
	background-color: #F3F3F3;
	padding: 10px;
}
.table2_tb {
	line-height: 21px;
	padding: 0px;
	border: 1px solid #CCCCCC;
}

.table2_tb td {
	word-break:break-all;
}

.table2_tb1 {
	background-image: url(../images/img/callcenter_tb2_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 18px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	color: #003366;
	font-weight: bold;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.table2_tb2 {
	line-height: 18px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	background-color: #FFFFFF;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
.table2_tb3 {
	line-height: 18px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	background-color: #F9F9F9;
	border-right-width: 1px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
}
div,form,ul,ol,li,span,p {border: 0;margin: 0;padding: 0;}

/*锟斤拷锟絝loat*/
.clear{ clear: both; font-size:1px; visibility: hidden; }

/*锟秸革拷*/


/*锟斤拷锟斤拷锟斤拷色*/
.fcborange{color: #F0741A;font: bold 12px arial,sans-serif;}
.fcred{color:#FF0000;}
.fcwhite{color:#FFF;font:normal 13px 锟斤拷锟斤拷,arial,sans-serif;letter-spacing:1px;}

.class_title{float:right;
	margin: 0 auto;
	width: 14px;
	height: 17px;
	border: 1px solid #9EB1C0;
	padding: 1px;
	cursor:pointer;
background:url(../images/img/tab_bgs.gif) 5px -113px no-repeat;
}
#news_cnt,#tab_cnt{
  display: block;
  overflow:hidden;
}

/*锟斤拷锟脚憋拷签锟斤拷锟斤拷*/

.news_tabsnav{
    background:#ffffff url(../images/img/tab_bgs.gif) left -140px repeat-x;
	border: solid #B0BEC7;
	border-width: 0 1px 0 1px;
	height: 22px;
	margin: 0 auto;
	padding: 0;
	width: 755px;
}

.news_tabsnav .tabsmenu{
	height: 22px;
}

.news_tabsnav .tab_sline {
	padding-top: 3px;
	width: 2px;
}

.news_tabsnav li{
	color: #18397C;
	float:left;
	display:inline;
	font: normal 12px 锟斤拷锟斤拷,arial,sans-serif;
	list-style-type: none;
	margin:0;
	text-align: center;
}
.news_tabsnav li a{
display:block;
float:left;
padding:4px 22px  0 22px ;/*t锟斤拷锟斤拷锟揭诧拷锟阶匡拷龋锟斤拷锟揭拷潭锟斤拷锟饺ｏ拷些锟斤拷筛锟轿拷锟絧adding-top:4px;width:100px;*/
padding-top:4px;
height:18px;
background:url(../images/img/tab_bgs.gif) right -88px no-repeat; 
}
#news_mn li a{padding:4px 16px 0 16px;}/*news锟斤拷锟角﹖锟斤拷锟斤拷锟揭诧拷锟阶匡拷锟�*/

/*锟斤拷锟斤拷锟剿碉拷锟斤拷锟斤拷锟斤拷锟绞�
border:1px #111 solid;*/
.news_tabsnav .tabactive1{
	background: url(../images/img/tab_bgs.gif);
	color: #F26400;
}
.news_tabsnav .tabactive1 a{background:url(../images/img/tab_bgs.gif) right -60px no-repeat;}
.news_tabsnav .tabactive2{
	background: url(../images/img/tab_bgs.gif) left -30px no-repeat;
	color: #F26400;
}

/*锟斤拷锟斤拷锟斤拷息锟斤拷锟斤拷*/
.news_content{
	clear:both;
	border: solid #B0BEC7;
	border-width: 0 1px 1px 1px;
	margin: 0 auto;
	width: 755px;
}
.news_content .li1a li a{display:block;float:left;width:210px;overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.news_content .li1a a:hover{background-color:#fff0f0;}

.news_content .li1a2 li a{display:block;float:left;width:160px;overflow: hidden; text-overflow:ellipsis; white-space:nowrap;}
.news_content .li1a2 a:hover{background-color:#fff0f0;}
.rightmore{float:right;width:200px;text-align:right;}
/*锟狡硷拷锟斤拷锟斤拷锟叫憋拷*/
.news_list{	height: 60px;width: 690px;}
.news_list .new_top7 li a:link,a:visited{color: #18397C;}
.news_list .new_top7 li a:hover{color: #FF0000;}
/*Write by Luoyun 2008-7-8 12:02*/
ul.productAttribute{margin:0;padding:0;list-style:none;}
ul.productAttribute li{width:135px;float:left;}


/*  previewRecommendIteamHot.vm by bigCat 20080713
------------------------------------------------ */
div#recommendItemCompanyBox {
	padding:0 0 8px 0;
	background:#F0ECD7;
}

div#recommendItemCompanyBox h3 {
	margin:0 0 6px 0;
	border-bottom:1px solid #CCCCCC;
}

div#recommendItemCompanyBox div.paddingAdjustBox{
	padding:0 0 0 5px;
	width:687px;
}
div#recommendItemBanner{
	margin:0;
	padding:5px 5px 7px 5px;
	border:1px solid #DCD4A7;
	border-top:0;
	float:left;
	width:435px;
	background:#FFFFFF;
}

div#recommendItemBanner img {
	margin-right:10px;
	border:1px solid #DCD4A7;
}
div#recommendItemBanner div.leftProduct {
	float:left;
	width:105px;
	font-size:71%;
	line-height:18px;
	text-align:center;
}

div#recommendItemBanner div div {
	width:325px;
	float:right;
}


/*--add by luoyun 20080909 16:34 START--*/
div#recommendItemBannerAll{
	float:left;
}
ul#recommendItemTab {
	width:448px;
	margin:10px 0 0;
	padding:0;
	line-height:16px;
	background:#fff url(../images/recommend/recommendTabBg.gif) repeat-x 0 bottom;
}

ul#recommendItemTab li{
	display:block;
	float:left;
	padding:2px 10px;
	background:#fff url(../images/recommend/recommendTab.gif) repeat-x;
	border:1px solid #CCCCCC;
	border-left:1px solid #E4DEC4;
	border-bottom:0;
}

ul#recommendItemTab li.thisOn{
	padding:2px 10px 3px;
	background:#fff;
	border:1px solid #DAD4A4;
	border-bottom:0;
	font-weight:bold;
}

ul#recommendItemTab span.iconNew{
	margin:-10px 0 0;
	background:url(../images/recommend/iconNew.gif) no-repeat;
	position:absolute;
	width:21px;
	height:15px;
}
/*--add by luoyun 20080909 16:34 END--*/

div#recommendItemBanner ol {
	margin:-20px 0 0 7px;
	float:left;
	width:400px;
}

div#recommendItemBanner ol li {
	margin:0 5px 0 0;
	float:left;
	width:16px;
	background:#FFFFFF url(http://image.alibaba.co.jp/images/images/icon/viewericon.gif) no-repeat top left;
	font-weight:bold;
	text-decoration:none;
	text-align:center;
}

div#recommendItemBanner ol li#liback1 {
	background:#FFFFFF url(http://image.alibaba.co.jp/images/images/icon/viewericonover.gif) no-repeat top left;
}

div#recommendItemBanner ol li a,
div#recommendItemBanner ol li a:hover {
	text-decoration:none;
}

div#recommendItemBanner ul {
	margin-top:5px;
	width:300px;
}

div#recommendItemBanner ul li {
	margin:0px;
	width:150px;
	float:left;
}

div#recommendItemBanner #bigDescription{
	height:40px;
}

div#recommendItemBanner #linkUrl{
	height:27px;
}

.homeMore {
padding:3px 12px 10px 0;
text-align:right;
}

/* previewBbsTopicsHot.vm bigCat
------------------------------------------------ */
div#bbsTopicsBox ul {
	width:678px;
	padding:10px 10px 0;
	line-height:22px;
}

div#bbsTopicsBox ul li{
	margin:0px;
	float:left;
	width:33%;
	line-height:22px;
}

/* previewHotkeywordsHot.vm bigCat*/
dl#headerKeywords {
 padding:5px 0 5px 10px;
 border:1px solid #D1D1D1;
 width:948px;
 background:#dfdfdf url(http://image.alibaba.co.jp/images/images/headerKeywords_dl_bg.gif) repeat-x left top;
 overflow:auto;
}
dl#headerKeywords dt {
 margin:0 8px 0 0;
 float:left;
}
dl#headerKeywords dd {
 margin:0 8px 0 0;
 float:left;
}

/*announce bigCat*/
div#announce dl dt {
	float:left;
	display:inline-block;
	width:40px;
	color:#474747;
	font-weight:normal;
	clear:both;
}
div#announce dl dd{
	margin-left: 40px;
	word-break:break-all;
}

.wrapper:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}
.wrapper {
	display:inline-block;
}

/* End hide from Safari IE-Mac */
.wrapper {
	display:block;
}

/* Bops 20080926 Modify*/
.textareaTop{vertical-align:top;}
.radioMargin{margin-left:30px;}
.infoText{color:#FF0000;}
a:link.linkRed ,
a:visited.linkRed {
	color:#F00;
	font-weight:normal;
}
a:hover.linkRed {
	color:#F60;
	font-weight:normal;
}

/*added by damao 20081024*/
.cancelPosting{
float:right;
background:#CE3D1E;
color:#FFF;
padding-top:3px;
}
.phoneLine1{margin:0 0 0 2px;}
.phoneLine2{margin:0 4px 0 2px;}
.hiddenInputboxBg{border:1px solid #F8FBFF;background:#F8FBFF;}
#richEditorOutput table {
	border:none;
}

/* JavaLines Begin */
#auditLogDiv{
	margin:10px 0px 0px 39px;
}
#auditLogDiv p{
	font-size: 12pt;
	font-weight: BOLD;
}
#auditLog{
	line-height: 21px;
	padding: 0px;
	border: 1px solid #999;
	font-size: 10pt;
	border-collapse:collapse;
}
#auditLog th{
	background-image: url(../images/img/callcenter_tb2_bg.gif);
	background-repeat: repeat-x;
	background-position: left top;
	line-height: 18px;
	padding-top: 2px;
	padding-right: 3px;
	padding-bottom: 3px;
	padding-left: 3px;
	color: #003366;
	font-weight: bold;
	border-right-width: 0px;
	border-right-style: solid;
	border-right-color: #CCCCCC;
	border: 1px solid #999;
	text-align: center;
}
#auditLog td{
	border: 1px solid #999;
	text-align: center;
}
#auditLogDivBut{
	margin:50px 365px 0px 335px;
}
/* JavaLines End */

/* Clear Float*/
.clearFloat:after {
	content:"\0020"; /* “.” has some errors in GB2312 */
    display:block;
    height:0;
    clear:both;
}
.clearFloat {
	zoom:1;
}

/* importPage style */
div#fileUploadBox {
    margin:0 0 10px 0;
    border:2px #999 solid;
}
div#fileUploadBox p {
    padding:7px 0;
    text-align:center;
}
div#fileUploadBox p span {
    color:#f00;
}
div#fileUploadBox ul{
    margin:0;
    padding:7px 0 30px 300px;
    list-style-type:none;
    border-top:1px #ccc solid; 
}
div#fileUploadBox ul li{
    margin:0 10px 0 0;
    float:left;
}
div#fileUploadBox ul li input{
    *padding:3px 0 0 0;
    width:70px;
    height:22px;
    color:#fff;
    font-size:12px;
    background:#0382e9;
    border:0;
}
ul.pageBar {
    margin:0;
    padding:0 7px;
    list-style-type:none;
    background:#e3e3e3;
}
ul.pageBar a {
    color:#000;
}
ul.pageBar li.pleft{
    width:450px;
    height:30px;
    line-height:30px;
    float:left;
}
ul.pageBar li.pright{
    width:280px;
    height:30px;
    line-height:30px;
    float:right;
    text-align:right;
}
ul.pageBar li input.textBox{
    width:50px;
}
div#dataBox {
    padding:7px;
    background:#f1f1f1;
}
div#dataBox table.importTable {
	border-collapse:collapse;
	border-spacing:0;
    width:745px;
}
div#dataBox table.importTable th {
    background:#f3f4f9;
    border:1px #cacaca solid;
    height:24px;
    vertical-align:middle;
    font-weight:normal;
}
div#dataBox table.importTable th.state {
    font-weight:bold;
    color:#102C44;
}
div#dataBox table.importTable td {
	border:1px #cacaca solid;
    background:#fff;
    height:24px;
    text-align:center;
    vertical-align:middle;
}

.noDisplay {
	display:none;
}

/* mailManager kemin
------------------------------------------------ */
div#emailAddressIn {
	margin:15px 0 15px 15px;
}
h4.mailManagerlH4 {
	font-size:14px;
	padding:4px 4px 4px 8px;
	color:#fff;
}
ul.mailCanncelMagazine {
	margin:10px 0 10px 0;
	list-style:none;
}
ul.mailCanncelMagazine li {
	margin:5px 0 5px 30px;
	font-weight:bold;
}
ul.mailCanncelMagazine li  p{
	margin:2px 0;
	padding-left:20px;
	font-weight:normal;
	color:#666;
}
div.mailCanncelBtn {
	margin:40px 0 40px 0;
	text-align:center;
}
div#mailManagerImpt{
	margin:3px 0 25px;
	padding:0 0 5px 0;
	background:#EFEFEF;
}
div#mailManagerImpt dl{
	margin:0;
	border-top:5px solid #fff;
}
div#mailManagerImpt dl.magazineImpt dt {
	padding:6px 0 6px 10px;
	border-bottom:1px solid #cccccc;
}
div#mailManagerImpt dl.magazineImpt dd {
	margin:0;
	padding:10px 0 16px 22px;
}
div#mailManagerImpt dl.magazineImpt dd  span{
	color:#666;
}
dl.mailDownloadList{
	margin:0;
	padding:10px 0 15px 0;
	background:#F3F3F3;
}
dl.mailDownloadList dt {
	margin:0 0 8px 20px;
	font-weight:bold;
}
dl.mailDownloadList dd {
	margin:0 0 5px 20px;
	color:#333;
}
/* collectDict by Evance 09-07-14
------------------------------------------------ */
.collectDict {
	cursor: pointer;
}
#popupDictDiv {
	width: 450px;
	position: absolute;
	padding: 8px 12px;
	background: #FFF;
	border-style: solid;
	border-color: #CCC;
	border-width: 2px;
}

/* homepage by carrera 
------------------------------------------------ */
div#mainContentBox {
	padding:7px 0 0 0;
	float:right;
	width:770px;
}
div#mainContentBox p {
	margin-bottom:7px;
	font-size:12px;
}
div#mainContentBox p input.textBox {
	width:200px;
	border:1px #474747 solid;
	font-size:12px;
	background:#fff;
}
div#mainContentBox span {
	margin-bottom:7px;
	display:block;
	height:18px;
	line-height:18px;
}
div#mainContentBox span.errorBox {
	padding:5px 5px;
	margin-bottom:7px;
	height:auto;
	display:block;
	line-height:18px;
}
div#mainContentBox strong {
	display:block;
	height:50px;
	line-height:50px;
	font-size:14px;
	color:#f00;
}
div#mainContentBox dl dt {
	margin:0 0 7px 0;
	padding:0;
	font-weight:bold;
}
div#mainContentBox dl dd {
	margin:0 0 5px 0;
	padding:0;
}
table.trsTable {
	width:995px;
	border-collapse:collapse;
	border-spacing:0;
	border:1px #ccc solid;
}
table.trsTable td {
	padding:2px;
	border:1px #ccc solid;	
}